# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~
*.so
bin/

# Testing
*.test
*.tmp

# local
.idea
.DS_Store
*.gob

# Environments
.env
.envrc
env/
ENV/
env.bak/

# https/tls
tls/

*.prof

*.yaml
*.sh
*.txt
*.pcap*
*.pem
*.cnf
*.crt
*.ext
*.key
*.srl
*.csr

